#menu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 89%;
    }

    li {
    float: left;
    margin: 0 auto;
    }

    li a {
        margin-left: 100px;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        margin: 0 auto;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
    background-color: white;
    }
    li:last-child {
        background-color: white;
        border: 1px solid rgb(194, 168, 124);
        }

    #logo{
        display: inline-block;
        
    }
    #ppal{
        background-color: rgb(161, 122, 56);
    }
    #iconer{
        border-right: 5px solid rgb(194, 168, 124);
        color: white;
    }
    #iconer:last-child{
        border-right: 0;
    }
    #imagenescar{
        background-color: rgb(161, 122, 56);
        height: 100px;
    }
    #barrainf{
        background-color: rgb(161, 122, 56);
        height: 15px;
    }
    #planos-a{
        width: 50%;
        margin: 0 auto;

        
    }
    #draw{
        border: 5px solid rgb(161, 122, 56);
        width: 720px;
        padding: 10px;
    }
    #render{
        
    }
    #render-plano{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #planos-hero{
        background-color: rgb(161, 122, 56);
        
    }
    #ubicacion{
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        border: 2px solid rgb(161, 122, 56);
        height: 100px;
    }
    #contacto{
        margin-top: 20px;

    }
    .hero{
        margin-top: 100px;
        margin-left: 72px;
        background-color: white;
        height: 150px;
        width: 150px;
    }
    .hero p{

        margin: 0 auto;
    }
    .hero:last-child{
        margin-bottom: 100px;
    }
