body{
  font-family: 'bebas_neuebook';
  letter-spacing: 2px;
}
#menu {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 89%;
    }

li {
float: left;
margin: 0 auto;
}

li a {
    margin-left: 100px;
    display: block;
    color: #3c3c3b;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    margin: 0 auto;
    font-size: 23px;
    letter-spacing: 4.2px;

}

/* Change the link color to #111 (black) on hover */
li a:hover, li a:focus {
color: #3c3c3b;
text-decoration: none;
}
li:last-child {
    background-color: white;
    border: 3px solid rgb(194, 168, 124);
    }

#logo{
display: inline-block;
height: 70px;
margin-bottom: 7px;
margin-top: 10px;
}

#ppal{
    background-color: rgb(158, 123, 54);
}
#iconer{
    border-right: 5px solid rgb(194, 168, 124);
    color: white;
}
#iconer:last-child{
    border-right: 0;
}
#barrainf{
    background-color: rgb(158, 123, 54);
    height: 15px;
}
#planos-a{
    width: 50%;
    margin: 0 auto;
}
#draw{
    border: 5px solid rgb(193, 171, 133);
    padding: 10px;
    max-height: 780px;
    display: initial;
}
.render{
/* width: 100%; */
}
#render-plano{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 40px;
}
#planos-hero{
    background-color: rgb(158, 123, 54);

}


#contacto{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#contacto h2{
  padding-top: 0px;
}
.hero{
    margin-top: 80px;
    margin-left: 72px;
    background-color: white;
    height: 200px;
    width: 200px;
    text-align: center;
    border: 3px solid rgb(194, 168, 124);
    padding-top: 25px;
    position: relative;
    left: 3px;
}

.hero p{
    margin: 0 auto;
}

.hero:last-child{
    margin-bottom: 100px;
}
.nosotros p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 23px;
}
h2{
  text-transform: uppercase;
  font-family: 'bebas_neuebold';
  font-size: 72px;
  line-height: 99px;
  text-align: center;
  padding-top: 25px;
  position: relative;
  right: 11%;
  letter-spacing: 5px;
}
.cajablanca{
  background-color: #ffffff;
  height: 250px;
  position: relative;
  left: 61%;
  top: 30%;
  width: 82%;
  z-index: 10;
}
.terraza{
width: 100%;}
.linea{
  display: inline-block;
}
.lineablanca{
  background-color: #ffffff;
  width: 120px;
  height: 15px;
  position: relative;
  bottom: 115px;
  left: 560px;
}
.lineacolor{
  background-color: rgb(158, 123, 54);
  width: 120px;
  height: 15px;
  position: relative;
  bottom: 130px;
  left: 440px;
}
#iconer{
  text-transform: uppercase;
  text-align: center;
  font-size: 42px;
  letter-spacing: 3px;
}
#iconer img{
  height: 90px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.nosotros{
  color: #ffffff;
  padding: 60px 65px 60px 68px;
  border-left: 25px solid #ffffff;
  position: relative;
  right: 11%;
}
.nosotros h3{
  font-family: 'bebas_neuebold';
  font-size: 40px;
  letter-spacing: 6px;
  margin-bottom: 15px;
}
.nosotrosimg{
  background-image: url(../img/nosotros.png);
  background-position: center;
  height: auto;
}

.slick-dots li.slick-active button:before {
    color: #A1D141;
}
.slick-dots li button:before{
	color: #ffffff;
	opacity: 1;
	font-size: 45px;
}

.slick-slide {
   height:100%;
}

.slick-slide img {
   max-height:780px;
}
.icon-render{
  height: 50px;
  display: inline-block;
  margin-bottom: 20px;

}
.tipo-row{margin-top: 60px;}
.tipo-p{
  display: inline-block;
  margin-bottom: 0;
  margin-left: 13px;
  font-size: 22px;
  vertical-align: super;
}
.no-mb{
  vertical-align: sub;
}
.gala-border{
  border: 3px solid rgb(194, 168, 124);
  display: inline-block;
  background-color: #ffffff;
}
.hero h3{
  font-family: 'bebas_neuebold';
  font-size: 65px;
  margin-bottom: 0px;
}
.hero-p{
  font-family: 'bebas_neuebold';
  font-size: 32px;
}
.tipo-img{
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin-top: 13px;
  float: right;
}
.tipo-img img{
  width: 49%;
  display: inline-block;
  vertical-align: initial;
}
.tipo-draw{
margin-bottom: 30px;
}
.tipo-render{
  position: relative;
    right: 80px;
}
.tipo-amme{
  margin-top: 37px;
  margin-bottom: 20px;
  padding: 0px;
}
.tipo-bg{
  background-image: url(../img/backg-tipografias_Backg-Tipografias.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.tipo-div{
  padding-top: 6px;
  padding-bottom: 50px;
}
.slider-title1{
  width: 100%;
}
.slider-title1 p {
  text-align: center;
  margin-bottom: 0px;

}
.r-header{
  margin-bottom: 60px;
}
.slide2{
  border: 3px solid rgb(194, 168, 124);
    text-align: center;
}

.slidex3-bg {
    width:200px;
    height:50px;
    border:1px solid black;
    position:relative;
}
.slidex3-bg:after {
    content:'\A';
    position:absolute;
    background:black;
    top:0; bottom:0;
    left:0;
    width:80%;
}
.nosotroscont{
  margin-bottom: 40px;
}
.r-ubicacion{
  border: 3px solid rgb(193, 171, 133);
  margin-top: 30px;
}
footer{
  background-color: rgb(153, 123, 66);
  color: #ffffff;
}
#contacto input{
  border: 3px solid rgb(153, 123, 66);
}
#ubicacion{
  text-align: center;
}
.box-color{
  background-color: rgb(193, 171, 133);
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 10px;
}
.carousel-item img{
  width: 100%;
}
